@model  DemoModelos.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details2</title>
</head>
<body>
    <div>
        Product ID:
    </div>
    <div>
        @Model.ProductID
    </div>

    <div>
        product Name:
    </div>
    <div>
        @Model.ProductName
    </div>

    

</body>
</html>
